@import "variables"; // Color, Spacing, Breakpoint ect...
@import "mixins"; // Breakpoint, ect...

/* -----------------------

   Primary Styles

-------------------------- */

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   height: 100vh;
   min-height: 642px;
   font: {
      family: "Source Code Pro", Arial, sans-serif;
      size: 14px;
   }
   line-height: 1.6;
   color: #000;
}

strong {
   font-weight: 700;
}

p {
   margin: 0 0 20px;
}

header,
footer {
   flex: none;
}

main {
   flex: 1 0 auto;
}

/* -----------------------

   Header

-------------------------- */

header {
   z-index: 3;
   position: absolute; // Or Fixed
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 72px;
   padding: 0 18px;
   @include breakpoint(min, $sm) {
      height: 102px;
      padding: 0 3%;
   }
}

.header__logo,
.header__trigger {
   display: inline-block;
}

.header__logo {
   > img {
      display: block;
      width: 182px;
   }

   @include breakpoint(min, $sm) {
      > img {
         width: 198px;
      }
   }
}

.header__trigger {
   > span {
      position: relative;
      display: block;
      width: 38px;
      height: 4px;
      background-color: #000;
      &:first-child {
         margin-bottom: 8px;
      }
   }

   @include breakpoint(min, $sm) {
      > span {
         width: 50px;
      }
   }
}

/* -----------------------

   Intro

-------------------------- */

#intro {
   position: relative;
   height: 100vh;
   min-height: 642px;
   padding: 114px 18px 0;
   @include breakpoint(min, $sm) {
      padding: 114px 11% 0 6%;
   }

   &::before,
   &::after {
      content: " ";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 70%;
      height: 100%;
      max-width: 697px;
   }

   @include breakpoint(min, $sm) {
      &::before,
      &::after {
         left: 11%;
         right: auto;
      }
   }

   &::before {
      background-color: $color-secondary;
   }

   &::after {
      background-color: $color-primary;
   }
}

.intro__inner {
   position: relative;
   max-width: 1024px;
   width: 100%;
   > img {
      z-index: 0;
      position: absolute;
      width: 100%;
      &.photo-1 {
         top: -70px;
         right: 0;
         max-width: 360px;
      }

      &.photo-2 {
         top: 256px;
         right: 20%;
         max-width: 300px;
      }

      @include breakpoint(max, $md) {
         display: none;
      }
   }
}

.intro__heading {
   margin: 0 0 38px;
   font: {
      size: 48px;
      weight: 300;
   }

   line-height: 1.2;
   @include breakpoint(min, $sm) {
      font-size: 94px;
      margin: 0 0 48px;
   }

   > strong {
      display: block;
   }
}

.intro__content {
   margin-left: 40px;
   max-width: 475px;
   @include breakpoint(min, $sm) {
      margin-left: 11%;
   }

   > p {
      z-index: 1;
      position: relative;
   }
}

.intro__down-arrow {
   position: absolute;
   bottom: 0;
   left: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transform: translateX(-50%);
   width: 100%;
   height: 45px;
   @include breakpoint(min, $sm) {
      left: 11%;
      transform: translateX(0);
      width: 70%;
      height: 65px;
      max-width: 697px;
   }

   .icon-down {
      display: inline-block;
      width: 45px;
      height: 45px;
      background-image: url("../icons/down-arrow-2.svg");
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 45px;
      @include breakpoint(min, $sm) {
         width: 65px;
         height: 65px;
         background-size: 65px;
      }
   }
}

/* -----------------------

   Footer

-------------------------- */

footer {
   width: 100%;
   padding: 18px;
   text-align: center;
   @include breakpoint(min, $sm) {
      z-index: 3;
      position: absolute; // Or Fixed
      right: 0;
      bottom: 38px;
      height: 201.6px;
      padding: 0 3%;
      text-align: right;
      pointer-events: none;

      .footer__legal {
         display: inline-block;
         transform-origin: right top;
         transform: rotate(-90deg) translateY(-22px);
      }
   }
}
