@import "variables"; // Color, Spacing, Breakpoint ect...
@import "mixins"; // Breakpoint, ect...

/* -----------------------

   Primary Styles

-------------------------- */

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   height: 100vh;
   min-height: 642px;
   font: {
      family: "Source Code Pro", Arial, sans-serif;
      size: 14px;
   }
   line-height: 1.6;
   color: #000;
}

strong {
   font-weight: 700;
}

p {
   margin: 0 0 20px;
}

::selection {
   color: #000;
   background-color: $color-secondary;
}

img::selection {
   background-color: transparent;
}

header,
footer {
   flex: none;
}

main {
   flex: 1 0 auto;
}

/* -----------------------

   Header

-------------------------- */

header {
   z-index: 3;
   position: absolute; // Or Fixed
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 72px;
   padding: 0 18px;
   @include breakpoint(min, $sm) {
      height: 102px;
      padding: 0 3%;
   }
}

.header__logo,
.header__trigger {
   display: inline-block;
}

.header__logo {
   > img {
      display: block;
      width: 182px;
   }

   @include breakpoint(min, $sm) {
      > img {
         width: 198px;
      }
   }
}

.header__trigger {
   > span {
      position: relative;
      display: block;
      width: 38px;
      height: 4px;
      background-color: #000;
      &:first-child {
         margin-bottom: 8px;
      }
   }

   @include breakpoint(min, $sm) {
      > span {
         width: 50px;
      }
   }
}

/* -----------------------

   Hero

-------------------------- */

#hero {
   position: relative;
   height: 100vh;
   min-height: 642px;
   padding: 114px 18px 0;
   @include breakpoint(min, $sm) {
      padding: 114px 11% 0 6%;
   }

   &::before,
   &::after {
      content: " ";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 74%;
      height: 100%;
      max-width: 697px;
   }

   @include breakpoint(min, $md) {
      &::before,
      &::after {
         left: 11%;
         right: auto;
      }
   }

   &::before {
      background-color: $color-secondary;
   }

   &::after {
      background-color: $color-primary;
   }
}

.hero__inner {
   position: relative;
   width: 100%;
   max-width: 1024px;
   > img {
      z-index: 0;
      position: absolute;
      width: 100%;
      &.hero__photo-1 {
         top: -68px;
         right: 0;
         max-width: 360px;
      }

      &.hero__photo-2 {
         top: 246px;
         right: 20%;
         max-width: 300px;
      }

      @include breakpoint(max, $md - 1px) { // 991px
         display: none;
      }
   }
}

.hero__heading {
   margin: 0 0 38px;
   font: {
      size: 48px;
      weight: 300;
   }

   line-height: 1.2;
   @include breakpoint(min, $sm) {
      font-size: 94px;
      margin: 0 0 48px;
   }

   > strong {
      display: block;
   }
}

.hero__content {
   margin-left: 40px;
   max-width: 475px;
   @include breakpoint(min, $sm) {
      margin-left: 11%;
   }

   > p {
      z-index: 1;
      position: relative;
   }
}

.hero__down-arrow {
   position: absolute;
   bottom: 0;
   left: 0;
   display: flex;
   justify-content: center;
   width: 100%;
   height: 45px;
   @include breakpoint(min, $sm) {
      left: 11%;
      width: 74%;
      height: 65px;
      max-width: 697px;
   }

   .icon-down {
      display: block;
      width: 45px;
      height: 45px;
      background-image: url("../icons/down-arrow-2.svg");
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 45px;
      @include breakpoint(min, $sm) {
         width: 65px;
         height: 65px;
         background-size: 65px;
      }
   }
}

/* -----------------------

   Footer

-------------------------- */

footer {
   width: 100%;
   padding: 18px;
   text-align: center;
   @include breakpoint(min, $sm) {
      z-index: 3;
      position: absolute; // Or Fixed
      right: 0;
      bottom: 38px;
      height: 201.6px;
      padding: 0 3%;
      text-align: right;
      pointer-events: none;

      .footer__legal {
         display: inline-block;
         transform-origin: right top;
         transform: rotate(-90deg) translateY(-22px);
      }
   }
}

/* -----------------------

   Animations

-------------------------- */

body.animated-content {
   #hero {
      &::before,
      &::after {
         transform-origin: 50% 0%;
         transform: scaleY(0);
         animation: heroLayers 0.8s ease-out forwards;
      }

      &::after {
         animation-delay: 0.4s;
      }
   }

   .hero__inner {
      > img {
         &.hero__photo-1 {
            clip: rect(0px, 360px, 540px, 360px);
            animation: heroPhotoOne 0.3s 2.2s ease-out forwards;
         }

         &.hero__photo-2 {
            clip: rect(0px, 300px, 245.5px, 300px);
            animation: heroPhotoTwo 0.3s 3.2s ease-out forwards;
         }
      }
   }

   [data-text-layers] {
      position: relative;
      display: inline-block;
      animation: textColor 0.2s ease-out forwards;
      color: transparent;
      &::before,
      &::after {
         z-index: 2;
         content: " ";
         position: absolute;
         top: -15px;
         left: -15px;
         animation: textLayers 1s ease-out;
         transform-origin: left;
         transform: scaleX(0);
         width: calc(100% + 15px);
         height: calc(100% + 15px);
      }

      &::before {
         background-color: $color-secondary;
      }

      &::after {
         background-color: $color-accent;
         animation-delay: 0.3s;
      }
   }

   [data-text-layers^="2"] {
      animation-delay: 1.4s;
      &::before {
         animation-delay: 0.8s;
      }

      &::after {
         animation-delay: 1s;
      }
   }

   [data-text-layers^="3"] {
      animation-delay: 2.4s;
      &::before {
         animation-delay: 1.8s;
      }

      &::after {
         animation-delay: 2s;
      }
   }
}

@keyframes textLayers {
   0%,
   25% {
      transform-origin: left;
      transform: scaleX(0);
   }

   50% {
      transform-origin: left;
      transform: scaleX(1);
   }

   75% {
      transform-origin: right;
      transform: scaleX(1);
   }

   100% {
      transform-origin: right;
      transform: scaleX(0);
   }
}

@keyframes textColor {
   0% {
      color: transparent;
   }

   100% {
      color: #000;
   }
}

@keyframes heroLayers {
   0%,
   25%,
   50% {
      transform: scaleY(0);
   }

   75%,
   100% {
      transform: scaleY(1);
   }
}

@keyframes heroPhotoOne {
   0% {
      clip: rect(0px, 360px, 540px, 360px);
   }

   100% {
      clip: rect(0px, 360px, 540px, 0px);
   }
}

@keyframes heroPhotoTwo {
   0% {
      clip: rect(0px, 300px, 245.5px, 300px);
   }

   100% {
      clip: rect(0px, 300px, 245.5px, 0px);
   }
}
