/* -----------------------

   Primary Styles

-------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  min-height: 642px;
  font-family: "Source Code Pro", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
}

strong {
  font-weight: 700;
}

p {
  margin: 0 0 20px;
}

::-moz-selection {
  color: #000;
  background-color: #abe96f;
}

::selection {
  color: #000;
  background-color: #abe96f;
}

img::-moz-selection {
  background-color: transparent;
}

img::selection {
  background-color: transparent;
}

header,
footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* -----------------------

   Header

-------------------------- */
header {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 72px;
  padding: 0 18px;
}

@media (min-width: 768px) {
  header {
    height: 102px;
    padding: 0 3%;
  }
}

.header__logo,
.header__trigger {
  display: inline-block;
}

.header__logo > img {
  display: block;
  width: 182px;
}

@media (min-width: 768px) {
  .header__logo > img {
    width: 198px;
  }
}

.header__trigger > span {
  position: relative;
  display: block;
  width: 38px;
  height: 4px;
  background-color: #000;
}

.header__trigger > span:first-child {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .header__trigger > span {
    width: 50px;
  }
}

/* -----------------------

   Hero

-------------------------- */
#hero {
  position: relative;
  height: 100vh;
  min-height: 642px;
  padding: 114px 18px 0;
}

@media (min-width: 768px) {
  #hero {
    padding: 114px 11% 0 6%;
  }
}

#hero::before, #hero::after {
  content: " ";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 74%;
  height: 100%;
  max-width: 697px;
}

@media (min-width: 768px) {
  #hero::before, #hero::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 992px) {
  #hero::before, #hero::after {
    left: 11%;
    right: auto;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

#hero::before {
  background-color: #abe96f;
}

#hero::after {
  background-color: #e5ff6a;
}

.hero__inner {
  position: relative;
  width: 100%;
  max-width: 1024px;
}

.hero__inner > img {
  z-index: 0;
  position: absolute;
  width: 100%;
}

.hero__inner > img.hero__photo-1 {
  top: -66px;
  right: 0;
  max-width: 360px;
}

.hero__inner > img.hero__photo-2 {
  top: 260px;
  right: 20%;
  max-width: 300px;
}

@media (max-width: 991px) {
  .hero__inner > img {
    display: none;
  }
}

.hero__heading {
  margin: 0 0 38px;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .hero__heading {
    font-size: 94px;
    margin: 0 0 48px;
  }
}

.hero__heading > strong {
  display: block;
}

.hero__content {
  margin-left: 40px;
  max-width: 475px;
}

@media (min-width: 768px) {
  .hero__content {
    margin-left: 11%;
  }
}

.hero__content > p {
  z-index: 1;
  position: relative;
}

.hero__down-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 45px;
}

@media (min-width: 768px) {
  .hero__down-arrow {
    left: 11%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    width: 74%;
    height: 65px;
    max-width: 697px;
  }
}

.hero__down-arrow .icon-down {
  display: block;
  width: 45px;
  height: 45px;
  background-image: url("../icons/down-arrow-2.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 45px;
}

@media (min-width: 768px) {
  .hero__down-arrow .icon-down {
    width: 65px;
    height: 65px;
    background-size: 65px;
  }
}

/* -----------------------

   Footer

-------------------------- */
footer {
  width: 100%;
  padding: 18px;
  text-align: center;
}

@media (min-width: 768px) {
  footer {
    z-index: 3;
    position: absolute;
    right: 0;
    bottom: 38px;
    height: 201.6px;
    padding: 0 3%;
    text-align: right;
    pointer-events: none;
  }
  footer .footer__legal {
    display: inline-block;
    -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: rotate(-90deg) translateY(-22px);
        -ms-transform: rotate(-90deg) translateY(-22px);
            transform: rotate(-90deg) translateY(-22px);
  }
}
